@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 900px;
  background: #556787;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 900px;
  background: #b3d8ea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #60b8f7;
}

body {
  font-family: "Lora", serif;
}
/* style for disabled button */
button[disabled] {
  opacity: 0.8;
  cursor: not-allowed;
  /* pointer-events: none; */
}
fieldset {
  display: flex;
  width: 100%;
  gap: 0.1rem;
  /* margin: 0.8rem 0px; */
  margin-top: 1rem;
  flex-direction: column;
}

label {
  font-weight: 600;
  /* color: rgb(0, 24, 44); */
}
input,
select,
textarea {
  /* border: 0.4px solid rgba(1, 0, 0, 0.161); */
  outline: none;
  padding: 7px 10px;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /* border-radius: 4px; */

  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
    rgb(27 31 35 / 13%) 0px 0px 0px 1px;
  /* resize: none; */
  /* width: 90%; */
  color: #082032;
}

.title-form {
  /* font-size: 2rem; */
  /* margin-bottom: 1rem; */
  text-transform: uppercase;
  font-weight: 900;
  /* background-image: linear-gradient(to right, #6fb8d5, #287cb4);
  background: linear-gradient(90deg, rgba(254, 98, 56, 1) 0%, rgba(253, 29, 29, 1) 52%, rgb(3, 100, 185) 90%);
  */
  background-color: #f16fa1;
  background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.btn {
  align-items: center;
  background-color: #f5f5f5;
  /* background-image: linear-gradient(83deg, #8b55f5, #f16fa1); */
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(1, 21, 32);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  padding: calc(0.875rem - 7px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.bg-gradient {
  background-color: #f16fa1;
  background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
  color: white;
}
.btn.sec {
  border: 0.4px solid rgba(0, 0, 0, 0.086);
}
.btn.gradient {
  background-color: #f16fa1;
  background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
  color: white;
}
.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgb(3, 32, 68);
}

.btn.gradient:hover,
.btn.gradient:focus {
  /* border-color: #f16fa1; */
  box-shadow: rgba(252, 249, 249, 0.1) 0 4px 12px;
  color: rgb(235, 240, 246);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(213, 7, 7, 0.65);
  transform: translateY(0);
}

#table-dashboard tr:last-child {
  border: none;
}
